.main{
            width: 450px;
            height: 350px;
            margin: 15% 45% 45% 45%;
            background: linear-gradient(90deg,rgb(110, 213, 251),rgb(123, 228, 123));
            border-radius: 15%;
            border: none;
        }
        
        .password{
            margin: 150px 0px 50px 15px;
            width:250px;
            height: 35px;
            font-size: 25px;
            border-radius: 10px;

        }

        .btn{
            font-size: 30px;
            margin-left: 35%;
            border-radius: 15%;
            background-color: rgb(204, 237, 144);
        }

        .btn:hover{
            background: linear-gradient(90deg,rgb(158, 56, 241),rgb(41, 132, 237));
        }